@import url(https://fonts.bunny.net/css?family=lato:300i,400,400i,900|playfair-display:400,400i,700,900);

// Font families
$heading-font: 'Playfair Display', serif;
$content-font: 'Lato', sans-serif;

// Color palette
$bg-color: #293241;
$primary-color: #3D5A80;
$secondary-color: #98C1D9;
$third-color: #E0FBFC;
$accent-color: #EE6C4D;
$border-color: #425263;
